<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Contact Me</title>
    <link rel="stylesheet" href="/css/contact.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.2/normalize.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css" />
</head>

<body>
    <div id="menu">
        <nav>
            <div class="button">
                <a class="btn-open" href="#"></a>
            </div>
        </nav>
        <div class="overlay">
            <div class="wrap">
                <ul class="wrap-nav">
                    <li>
                        <a href="/">Home</a>
                        <!-- <ul>
            <li><a href="">About Me</a></li>
          </ul> -->
                    </li>
                    <li>
                        <a href="/portfolio">Portfolio</a>
                        <!-- <ul>
                <li><a href="">Contact Me</a></li>
              </ul> -->
                    </li>
                    <li>
                        <a href="/about">About</a>
                        <!-- <ul>
            <li><a href="">Contact Me</a></li>
          </ul> -->
                    </li>
                </ul>
                <div class="social">
                    <a id="linkedin" href="https://www.linkedin.com/in/bobbyreay/" target="blank">
                        <img id="linkedin" src="/img/LinkedIn-Logo.png" alt="linkedin" />
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="animated bounceInLeft">
        <div class="container">
            <h3>Contact Me</h3>
            {{msg}}
            <form id="contact-form" method="POST" action="send">
                <div class="labels">
                    <label id="name-label" for="name">Name</label>
                </div>
                <div class="input-tab">
                    <input class="input-field" type="text" id="name" name="name" placeholder="Enter your name" required
                        autofocus />
                </div>

                <div class="labels">
                    <label id="email-label" for="email">Email</label>
                </div>
                <div class="input-tab">
                    <input class="input-field" type="email" id="email" name="email" placeholder="email@email.com"
                        required />
                </div>

                <div class="labels">
                    <label id="number-label" for="number">Phone Number</label>
                </div>
                <div class="input-tab">
                    <input class="input-field" type="tel" id="phone" name="phone" min="1" max="120"
                        placeholder="555-555-5555" required />
                </div>

                <div class="labels">
                    <label for="messages">Message</label>
                </div>
                <div class="input-tab">
                    <textarea class="input-field" id="message" name="message" rows="10" cols="40"
                        placeholder="Your message..."></textarea>
                </div>

                <div class="btn">
                    <button id="submit" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
    </form>

    <script src="/javascript/contact.js"></script>
</body>

</html>