<!-- User Story #1: My tribute page should have an element with a corresponding id="main", which contains all other elements.

User Story #2: I should see an element with a corresponding id="title", which contains a string (i.e. text) that describes the subject of the tribute page (e.g. "Dr. Norman Borlaug").

User Story #3: I should see a div element with a corresponding id="img-div".

User Story #4: Within the img-div element, I should see an img element with a corresponding id="image".

User Story #5: Within the img-div element, I should see an element with a corresponding id="img-caption" that contains textual content describing the image shown in img-div.

User Story #6: I should see an element with a corresponding id="tribute-info", which contains textual content describing the subject of the tribute page.

User Story #7: I should see an a element with a corresponding id="tribute-link", which links to an outside site that contains additional information about the subject of the tribute page. HINT: You must give your element an attribute of target and set it to _blank in order for your link to open in a new tab (i.e. target="_blank").

User Story #8: The img element should responsively resize, relative to the width of its parent element, without exceeding its original size.

User Story #9: The img element should be centered within its parent element. -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Robin Williams Tribute</title>
    <link rel="stylesheet" href="/css/robin-tribute.css" />
  </head>
  <body>
    <main id="main">
      <header id="title">
        <h1 id="robin">Robin Williams</h1>
        <hr />
        <h2 id="dob">1951 - 2014</h2>
      </header>
      <div id="tribute-info">
        <h1 id="tribute-title">Robin Williams Tribute</h1>
        <div class="container">
          <!-- <div>
            <img
              id="image"
              src="https://selforschools.com/sites/default/files/blog/2014/08/RobinWilliamsMagnum.jpg"
              alt=""
            />
          </div> -->
          <div class="image image1" id="img-div">
            <img id="image-1" src="/img/robin-williams-vietnam.jpg" alt="" />
          </div>
          <div class="image image2">
            <img id="image-2" src="/img/doubtfire.jpg" alt="" />
          </div>

          <div>
            <p class="biography-text">
              Actor and comedian Robin McLaurin Williams was born on July 21,
              1951, in Chicago, Illinois. Eventually becoming one of America's
              funniest performers, Williams attended Claremont Men's College and
              College of Marin before enrolling at the Juilliard School in New
              York City. There he befriended and became roommates with fellow
              actor Christopher Reeve. Williams later experimented with comedy
              in San Francisco and Los Angeles, developing a successful stand-up
              act.
            </p>
            <br />
            <p class="biography-text">
              Williams had done work on TV programs like The Richard Pryor Show,
              Laugh-In and Eight Is Enough before becoming more widely known to
              American audiences as the alien Mork. The character debuted on the
              series Happy Days before being given his own show, Mork & Mindy.
              Williams co-starred with Pam Dawber in the zany, endearing sitcom,
              which debuted in 1978 and ran for four seasons. Having been part
              of the cast of the 1977 romp Can I Do It 'Till I Need Glasses?,
              Williams made his big-screen debut in a lead role playing the
              famous spinach-eating sailor in Popeye (1980), directed by Robert
              Altman and co-starring Shelley Duvall. A string of successful film
              roles for Williams followed over the years, showcasing his stellar
              comedic talents as well as his ability to take on serious work. He
              played the title character in 1982's The World According to Garp
              as well as a Russian musician who defects to America in Moscow on
              the Hudson (1984). Later, in Good Morning Vietnam (1987), Williams
              portrayed irreverent radio DJ Adrian Cronauer, while in Dead Poets
              Society (1989) he played free-thinking teacher John Keating. Both
              projects earned him Academy Award nods for lead actor.
            </p>
            <br />
            <p class="biography-text">
              While his career was taking off, Williams faced many personal
              challenges. He developed a drug and alcohol problem while working
              on the sitcom Mork and Mindy, and would struggle with addiction
              for more than two decades. He also became involved in several
              tumultuous romantic relationships; while married to actress
              Valerie Velardi, he was involved with other women. Williams and
              Velardi ultimately divorced in 1988. The following year, he
              married his son's nanny, Marsha Garces. Despite personal setbacks,
              Williams continued acting. He appeared in the hit Penny Marshall
              drama Awakenings (1990) with Robert De Niro and Julie Kavner, and
              received his third Oscar nomination for his role as homeless man
              Parry in the 1991 redemptive drama The Fisher King. Tackling
              family friendly fare as well, he starred as a grown-up Peter Pan
              in Hook (1991) and provided the voice of the genie in Disney's
              animated film Aladdin (1992). Williams starred in Mrs. Doubtfire
              (1993), Jumanji (1995) and Flubber (1997) as well. His more
              adult-oriented films also made waves, including The Birdcage
              (1996) and Good Will Hunting (1997). His performance as the
              psychiatrist in the latter project won him an Academy Award as
              best supporting actor. For the next few years, Williams took on a
              range of roles. He starred as the doctor who treated his patients
              with humor in Patch Adams (1998) and then portrayed a Jewish man
              in Germany during World War II in Jakob the Liar (1999). Based on
              a work by Isaac Asimov, Bicentennial Man (1999) gave Williams the
              opportunity to play an android who develops human emotions. And he
              returned to voice acting as Dr. Know in A.I.: Artificial
              Intelligence in 2001.
            </p>
            <br />
            <div class="image image3" id="img-div">
              <img id="image-1" src="/img/robinwilliams.jpg" alt="" />
            </div>

            <p class="biography-text">
              In September 2008, Robin Williams started touring for his one-man
              stand-up comedy show, Weapons of Self Destruction, focusing on
              "social and political absurdities." That same year, he and Garces
              divorced, citing irreconcilable differences.
            </p>
            <br />
            <p class="biography-text">
              Williams poured his energy into his sold-out shows, but health
              problems would derail the comedian in March of 2009. Several
              months into his fast-paced tour, Williams began experiencing
              shortness of breath. The complications led him to cancel
              performances and he ended up undergoing heart surgery. While
              Williams was recovering, the actor was once again seen playing
              Teddy Roosevelt in Night at the Museum: Battle of the Smithsonian.
              In November 2009, he starred alongside John Travolta in the Disney
              film Old Dogs. Williams continued working on a number of different
              projects. He made guest appearances on TV shows like Louie and
              Wilfred. In March 2011, he appeared on Broadway as part of the
              original cast of Bengal Tiger at the Baghdad Zoo, with the show
              running until July. On the big screen, reprising his roles of
              Ramon and Lovelace from the 2006 original, he lent his voice to
              the 2011 animated sequel Happy Feet Two. He and graphic designer
              Susan Schneider also tied the knot that October. Williams had
              supporting roles in two 2013 projects: the romantic comedy The Big
              Wedding with Robert De Niro and Diane Keaton, and the Lee Daniels'
              drama The Butler, where Williams portrayed Dwight D. Eisenhower.
              That year, Williams also announced his return to series TV. He
              co-starred with Sarah Michelle Gellar on the sitcom The Crazy
              Ones, which debuted in the fall. Set in an advertising firm, the
              show featured Williams and Gellar as father and daughter. The show
              was canceled after only one season. Then in 2014, Williams starred
              as disgruntled Henry Altmann in the film Angriest Man in Brooklyn.
            </p>

            <br />

            <div class="image image4">
              <img id="image-2" src="/img/robin-williams-beard.jpg" alt="" />
            </div>

            <p class="biography-text">
              On August 11, 2014, the 63-year-old comedian was found dead in his
              California home. His publicist released this statement: “Robin
              Williams passed away this morning. He has been battling severe
              depression of late. This is a tragic and sudden loss. The family
              respectfully asks for their privacy as they grieve during this
              very difficult time.” A press release issued by the Marin Country
              sheriff’s office on August 12 stated, “The preliminary results of
              the forensic examination revealed supporting physical signs that
              Mr. Williams life ended from asphyxia due to hanging.”
              Additionally, a pocket knife was found at the scene and several
              cuts were found on Williams’ left wrist. Toxicology tests were
              administered as part of the autopsy. The final report was released
              in November 2014 and revealed no alcohol or illegal drugs had been
              found in his system. Prescription medications were found, but in
              “therapeutic concentrations.” The coroner confirmed the results
              were in line with the preliminary findings.
            </p>

            <br />
            <p class="biography-text">
              In a statement issued by Susan Schneider on August 13, she
              disclosed that her late husband had been diagnosed with
              Parkinson’s disease which he had not revealed publicly.
              Parkinson's disease is a disorder of the nervous system that
              progresses over time, affecting movement and speech. She also
              confirmed that the actor was battling depression and anxiety, but
              that he had maintained his sobriety. Schneider's statement also
              expressed gratitude for the outpouring of support following her
              husband's suicide and touched on the legacy he left behind: "Since
              his passing, all of us who loved Robin have found some solace in
              the tremendous outpouring of affection and admiration for him from
              the millions of people whose lives he touched. His greatest
              legacy, besides his three children, is the joy and happiness he
              offered to others, particularly to those fighting personal
              battles." In November 2014, reports surfaced that prior to his
              death Williams was also suffering from Lewy body dementia, a type
              of progressive dementia often found in people diagnosed with
              Parkinson's disease. That same month, the dark comedy A Merry
              Friggin' Christmas was released, which starred Williams as part of
              an ensemble cast that included Joel McHale, Lauren Graham and
              Candace Bergen, among others. In December of that year, Night at
              the Museum: Secret of the Tomb, the final film in the series, was
              released in which Williams reprised his role as Teddy Roosevelt.
              In July 2015, Williams’ final film, Boulevard, hit theaters. He
              played Nolan Mack, a husband in a longtime, loving yet passionless
              marriage (opposite Kathy Baker). His character has hidden his
              homosexuality but this changes with an encounter with a young male
              prostitute. The film showcases Williams’ talent in a role filled
              with grace and dignity, where quiet moments speak volumes. Years
              after his death, Williams's show business career and final days
              remained a captivating subject for fans. Dave Itzkoff's Robin
              became a best-seller following its May 2018 publication, and two
              months later, HBO offered a character study of the comedian via
              footage of stand-up clips and interviews with family and friends
              in Robin Williams: Come Inside My Mind.
              <a
                id="tribute-link"
                target="_blank"
                href="https://en.wikipedia.org/wiki/Robin_Williams"
                >Read more at Robin Williams' Wikipedia page.</a
              >
            </p>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
